<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MSN2Mail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <MSN2Mail.Properties.Settings>
      <setting name="mailSender" serializeAs="String">
        <value>softdejp@gmail.com</value>
      </setting>
      <setting name="passSender" serializeAs="String">
        <value>autofill</value>
      </setting>
      <setting name="msnUser" serializeAs="String">
        <value>j.pabloblanco@gmail.com</value>
      </setting>
      <setting name="msnPass" serializeAs="String">
        <value>sql33ter</value>
      </setting>
      <setting name="mailTo" serializeAs="String">
        <value>89729431234@ancelinfo.com.uy</value>
      </setting>
      <setting name="timespan" serializeAs="String">
        <value>00:15:00</value>
      </setting>
    </MSN2Mail.Properties.Settings>
  </userSettings>
</configuration>